.frame-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 160px;
    margin-bottom: 0.6rem;
    border-radius: 0.6rem;
}
.frame-video-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
.frame-video:hover .frame-video-img {
    opacity: 0;
}
.frame-video-player {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 640px) {
    .frame-video {
        min-height: 320px;
    }
}
@media screen and (min-width: 768px) {
    .frame-video {
        min-height: 180px;
    }
}
@media screen and (min-width: 1024px) {
    .frame-video {
        min-height: 120px;
    }
}