.frame-view {
    color: #f9f9f9;
    font-size: 14px;
    transition: all 0.15s ease-out;
}
.frame-view:hover {
    background-color: rgba(65, 64, 64, 0.4);
}
.frame-video-container {
    position: relative;
}